@import "vars";

.dropdown {
  background-color: white;
  height: 39px;
  @include p;
  width: 180px;
}

.mainDropdown {
  @extend .dropdown;
  position: absolute;
  top: 9px;
  width: 160px;
}

.semesterDropdown {
  @extend .dropdown;
  position: absolute;
  top: 9px;
  margin-left: 170px;
  width: 160px;
}

button, .button {
  @include mont;
  @include outerShadow;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  border: $radius;
  font-weight: 700;
  border: none;
}
