// font imports
@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300italic,300,100italic,400italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import "vars";
@import "normalize";
@import "utility";
@import "text";

body {
  background-color: $red;
  background: $red;
  color: $black;
  @include p;
}

h1, h2, h3, h4, h5, h6, p, small, title { margin: 0; }
