$lightRed: #FEEDED;
$red: #B5103A;
$lightGray: #E1E1E1;
$lighterGray: #EEE;
$lightestGray: #f5f5f5;
$gray: #838383;
$white: #FFF;
$black: #444;

$radius: 5px;

$solidBorder: 1px solid $lightGray;

$roboto: 'Roboto', sans-serif;
$mont: 'Montserrat', sans-serif;

@mixin roboto { font-family: $roboto; }
@mixin mont { font-family: $mont; }

@mixin placeholder($color) {
  input::-webkit-input-placeholder { color: $color; }
  input:-moz-placeholder { color: $color; }
  textarea::-webkit-input-placeholder { color: $color; }
  textarea:-moz-placeholder { color: $color; }
}

@mixin outerShadow {
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.23);
}

@mixin innerShadow {
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.06);
}

@mixin borderTop { border-top: $solidBorder; }
@mixin borderLeft { border-left: $solidBorder; }
@mixin borderBottom { border-bottom: $solidBorder; }
@mixin borderRight { border-right: $solidBorder; }

@mixin roundTop {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin roundBottom {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

@mixin absoluteXCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

@mixin absoluteYCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

@mixin centerBlock {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@mixin flexHorizontal {
  display: flex;
  justify-content: center;
}

@mixin flexVertical {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// text styles

@mixin h1 {
  @include mont;
  font-size: 27px;
  color: $black;
  letter-spacing: 1.49px;
  font-weight: 700;
}

@mixin h3 {
  @include mont;
  font-weight: 700; //bold
  font-size: 16px;
  color: $white;
  letter-spacing: 1.79px;
  line-height: 19px;
}

@mixin h6 {
  @include roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: $gray;
  letter-spacing: 0.88px;
  line-height: 19px;
}

@mixin p {
  @include roboto;
  font-weight: 300;
  font-size: 16px;
  color: $gray;
  letter-spacing: 0.88px;
}

@mixin small {
  @include roboto;
  font-weight: 300;
  font-size: 12px;
  color: $gray;
  letter-spacing: 0.88px;
  line-height: 18px;
}

@mixin metricsText {
  @include roboto;
  font-weight: 300;
  font-size: 12px;
  color: $gray;
  letter-spacing: 0.88px;
  line-height: 18px;
  white-space: normal;
  width: 90%;
  word-wrap: break-word;
  margin-left: 40px;
}

$phone: 414px;
$tablet: 768px;
$laptop: 1024px;

@mixin styleFor($screen) {
  @if $screen == phone {
    @media only screen and (max-width: $phone) { @content; }
  }
  @else if $screen == tablet {
    @media only screen and (max-width: $tablet) { @content; }
  }
  @else if $screen == laptop {
    @media only screen and (max-width: $laptop) { @content; }
  }
}
